@media (min-width: 320px) {
  .container {
    width: 90%;
    max-width: 450px;
    height: 250px;
    background: rgb(25, 67, 209);
    background: linear-gradient(
      90deg,
      rgba(25, 67, 209, 1) 0%,
      rgba(48, 114, 242, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-size: 25px;
  }
}
