@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-height{
  height: calc( 100vh - 6rem);
}
/* 
.nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 320px) {
  .homepage-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 15px;
  }
  .homepage-title img {
    margin-right: 10px;
    width: 30px;
  }
  .homepage-description {
    padding: 20px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    max-width: 600px;
    font-size: 16px;
    text-align: center;
  }
  .homepage-description a {
    margin-left: 10px;
  }
}

@media (min-width: 600px) {
  .homepage-title {
    font-size: 25px;
  }
  .homepage-title img {
    width: 60px;
  }
  .homepage-description {
    font-size: 20px;
  }
}


.layout-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
@media (min-width: 320px) {
  .layout-description {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding:20px 40px 40px 40px;
    color: #fff;
    height: 100vh;
    overflow-y: scroll;
    z-index: 10;
    position: absolute;
  }
  .layout-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .description-show {
    margin: 20px 0px 0px  20px;
  }
  .description-show-button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
  }
  .description-hide {
    display: flex;
    justify-content: flex-end;
    
  }
}

@media (min-width: 910px) {
  .layout-description {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 40px;
    color: #fff;
    min-height: 100vh;
    height: auto;
    overflow-y: scroll;
    position: relative;
  }
  .layout-container {
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .description-show {
    display: none;
  }
  
}

.layout-description h2 {
  margin: 8px 0px;
  font-size: 25px;
}

.layout-description p {
  font-size: 20px;
  line-height: 30px;
}

.layout-highlighted-span {
  background-color: #071a2a;
  border: 1px solid #293647;
  padding: 3px 8px;
  border-radius: 5px;
  margin: 15px 2px;
}

.layout-description ol {
  padding: 0px 20px;
}

.layout-description ol > li {
  padding: 0px 5px;
  margin: 4px 0px;
  font-size: 18px;
  color: white;
  line-height: 35px;
}

.layout-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
} */
